on:
  push:
    branches:
      - master

name: Updating tags -v2

jobs:
  deploy:
    name: update tag - v2
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: master
      - run: |
          git tag v2 -f
          git push origin v2 -f
